body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F4F6F7 ;
    padding: 0;
    margin: 0;
}

.menu{
    list-style: none;
    padding: 0;
    background: #3498DB;
    width: 100%;
    max-width: 100%;
    margin: 0;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    background-color: red ;
}
p{
    text-decoration: none;
    color: black;
    display: block;
    display: inline-block;
    text-align: center;
    cursor: default;
    font-size: 20px;
    margin-left: 20px;
}
.menu li{
    display: inline-block;
    text-align: center;
    float: right;

}

.menu li a:hover{
    background: red;
}
h1{
    text-align: center;
}
.preguntas{
    margin-left: 30px;
}
.preguntas a{
    text-decoration: none;
    color: #3498DB;
    font-size: 18px;
    margin-left: 5px;
}
.preguntas a:hover{
    color: #154360;

}

.infoPregunta{
    font-size: 18px;
}
.contenedorPregunta{
    margin-left: 20px;
    margin-top: 20px;

}
.button{
    background-color: #2471A3 ;
    color: white;
    font-size: 18px;
    margin-left: 75px;
    margin-top: 15px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}

button:hover{
    background-color: #5DADE2 ;
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: white;
}
.reportes{
    font-size: 18px;
    color: rebeccapurple;
}
.agrega{
    /* position: absolute; */
    background-color: #2471A3 ;
    color: white;
    font-size: 18px;
    margin-left: 75px;
    margin-top: 15px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}
table,td,tr,th{
    border: 1px solid;
    font-size: 18px;
    margin-left: 75px;
    margin-top: 15px;
}
.modificar{
    color: black;
}
.eliminar{
    color: white;
    background-color: red;
}
.edita{
    background-color: #2471A3 ;
    color: white;
    font-size: 18px;
    margin-left: 75px;
    margin-top: 15px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}
.edita:hover{
    background-color: green ;
    cursor: pointer;
}


